[application]

[web.app]

# HTML title tag content
title = "dioxused"
base_path = "dioxused" # relative path for github pages deploy

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []
